{% extends "base.html" %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="headline">Find your people</h1>
        <p>Search for connections in the trusted community</p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">First time on the platform? &raquo;</a> <a class="btn btn-primary btn-lg" href="/login" role="button">Already have an account? &raquo;</a></p>
    </div>
</div>
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-search glyphicon-large" aria-hidden="true"></span>
                <h3>Find</h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-link glyphicon-large" aria-hidden="true"></span>
                <h3>Connect</h3>
                <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-move glyphicon-large" aria-hidden="true"></span>
                <h3>Share</h3>
                <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
